body {
  font-family: monospace;
  font-size: 16px;
}
.addr {
  width: 30px;
}

.resultado {
  border-bottom: 1px solid #6a6ade;
  border-right: 1px solid #6a6ade;
}
.resultado .label {
  display: inline-block;
  width: 200px;
  background: #aaf;
}


.inicio{
  background-color: #cccccc;
}

.menu{
  width: auto;
background-color: #6a6ade;
border: black;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
padding: 0%;
margin: 0%;
}

nav.menu ul{
list-style: none;
margin-top: 50px;
padding: 0%;
}

nav.menu ul li{
  display: inline-block;
}

nav.menu ul li a{
  color: black;
  display: block;
  padding: 10px 30px;
  text-decoration: none;
}

nav.menu ul li a:hover{
  
 background-color: aqua;
}